<!-- core/templates/core/sobre.html -->
 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechNova - Sobre</title>
    <link rel="stylesheet" href="/static/css/style.css">
 </head>
 <body>
    <header>
        <h1>TechNova</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Início</a></li>
                <li><a href="{% url 'sobre' %}">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Sobre a TechNova</h2>
        <p>Bem-vindo à TechNova! Somos uma empresa dedicada a trazer as últimas novidades em tecnologia para os entusiastas. Nossa missão é fornecer análises detalhadas, dicas e informações sobre os produtos mais inovadores do mercado.</p>
        <p>Projetos com Django, RPA, e outras tecnologias de ponta!</p>
    </main>

    <footer>
        <p>&copy; 2024 TechNova. Todos os direitos reservados.</p>
    </footer>
 </body>
 </html>